/*CSS
Color Palette:
Background:  #10171b  -- Dark Blue Green
Border-Trim: #718ba2  -- Light Blue
Text: #
Accent: F
Box Background:  #000000 -- Black
*/

body{
background-color:#10171b;
background-image:url(images/background.png);
background-position:-50px -840px;
}

.jquery-corner { 
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}

.clear{
clear:both;
}

.hide {
display:none;
}

.selectBox {
   width: 200px;
   background:#000;
   color:#fff;
   background-image: url(images/sprite.png);
   background-repeat:no-repeat;
   background-position:-225px -895px;
   border: 1px solid #718ba2;
   float:left;
   margin:5px 10px;
   position:relative;
   z-index:4;
}

.inactive {
   background-image: none !important;
}

.selectItem{
display:none;
padding-left:5px;
position:relative;
z-index:5;
}

.selectBlank {
cursor:pointer;
padding-left:5px;
}

.selectItem:hover{
cursor:pointer;
background:#718ba2;
}

.active {
-webkit-box-shadow:  2px 2px 5px 0px #000;
box-shadow:  2px 2px 5px 0px #000;
}

select {
	background:#000;
   -webkit-appearence: none;
   width: 200px;
   font-size: 12px;
   color:#fff;
   border: 0px solid #718ba2;
}

#pageWrap{
 width:1280px;
 margin:10px auto;
 padding:0px 20px;
 }

#chassisBar{
background:#000;
padding:5px 0px;
width:810px;
height:30px;
margin:0px 5px 0px 20px;
float:left;
}

#reset{
    color: red;
    font-weight: bold;
    float:left;
}

#userInfo{
background:#000;
padding:5px 0px;
width:430px;
height:30px;
margin:0px 10px 0px 5px;
float:left;
}

#mechBay{
float:left;
}

#mechContainerWrap{
    padding:10px 5px 5px 5px;
    background-color:transparent;
    background-image:url(images/sprite.png);
    background-repeat: no-repeat;
    background-position:-50px -50px;
    width:840px;
    height:780px;
    margin-top:10px;
}


#mechContainer{
    float:left;
	margin:10px 5px;
}

#mechContainer:first-child{
	margin-left:10px;
}

#mechContainer:last-child{
	margin-right:10px;
}

#mechContainer > div {
    width:140px;
    height:;
	border:#fff 1px solid;
    color: white;
	padding:5px;
}

.information{
}

.hardpoint{
text-transform: capitalize;
}

.critslot {
height:20px;
margin:1px;
}

.invalid {
    border: 3px double #FF0000;
}

.valid {
    border: 3px double #00FF00 !important;
}

#head {

}
#leftTorso {

}
#rightTorso {

}
#leftArm {

}
#rightArm {

}
#centerTorso {

}
#leftLeg {

}
#rightLeg {

}

.armorspinner {
    width: 30px;
    color: white;
}

.critLabel{
padding-left:20px;
font-size:.9em;
padding-top:3px;
opacity:1 !important;
}

.critItem{
}

.critItem:hover{
background-image:url(images/sprite.png);
background-position:-500px -1199px;
}

.critOne {
background-image:url(images/sprite.png);
background-position:-690px -898px;
height:22px;
cursor:pointer;
}

.critTwo {
background-image:url(images/sprite.png);
background-position:-690px -930px;
height:44px;
cursor:pointer;
}

.critThree {
background-image:url(images/sprite.png);
background-position:-690px -980px;
height:66px;
cursor:pointer;
}

.critFour {
background-image:url(images/sprite.png);
background-position:-690px -1050px;
height:88px;
cursor:pointer;
}

.critFive {
background-image:url(images/sprite.png);
background-position:-850px -898px;
height:110px;
cursor:pointer;
}

.critSix {
background-image:url(images/sprite.png);
background-position:-850px -1020px;
height:132px;
cursor:pointer;
}

.critSeven {
background-image:url(images/sprite.png);
background-position:-690px -1150px;
height:154px;
cursor:pointer;
}

.critTen {
background-image:url(images/sprite.png);
background-position:-850px -1160px;
height:220px;
cursor:pointer;
}


.critWrap{
margin-top:10px;
background-image:url(images/sprite.png);
background-position:-500px -898px;
}

#head{
background:#000;
position:relative;
margin-top:00px;
}

#head .critWrap{
height:132px;
}

#rightArm{
background:#000;
position:relative;
margin-top:170px;
}

#rightArm .critWrap{
height:264px;
}

#rightTorso{
background:#000;
position:relative;
margin-top:40px;
}

#rightTorso .critWrap{
height:264px;
}

#centerTorso{
background:#000;
position:relative;
margin-top:20px;
}

#centerTorso .critWrap{
height:264px;
}

#leftTorso{
background:#000;
position:relative;
margin-top:40px;
}

#leftTorso .critWrap{
height:264px;
}

#leftArm{
background:#000;
position:relative;
margin-top:170px;
}

#leftArm .critWrap{
height:264px;
}

#rightLeg{
background:#000;
position:relative;
margin-top:20px;
}

#rightLeg .critWrap{
height:132px;
}

#leftLeg{
background:#000;
position:relative;
margin-top:20px;
}

#leftLeg .critWrap{
height:132px;
}

#componentWrap{
}

#focusLine{
}

#componentDetail{
background:#000;
}

#itemWrap{
margin:10px 0px 10px 5px;
float:left;
height:660px;
}

#tabWrap{
float:right;
position:relative;
margin-top:20px;
left:-55px;
}

#tabWrap .tab{
width:57px;
height:130px;
margin-bottom:10px;
}

.tabWrapper{
margin-bottom:0px;
}

#armamentTab{
background:transparent;
background-image:url(images/sprite.png);
background-position:-98px -995px;
position:relative;
z-index:3;
}

#armamentTab:hover{
background:transparent;
background-image:url(images/sprite.png);
background-position:-202px -995px;
cursor:pointer; 
}

#utilityTab{
background:transparent;
background-image:url(images/sprite.png);
background-position:-98px -1165px;
position:relative;
}

#pilotingTab{
background:transparent;
background-image:url(images/sprite.png);
background-position:-98px -1325px;
position:relative;
}

#pilotingTab:hover{
background:transparent;
background-image:url(images/sprite.png);
background-position:-201px -1325px;
cursor:pointer;
}

#statisticsTab{
background:transparent;
background-image:url(images/sprite.png);
background-position:-98px -1485px;
position:relative;
}

#statisticsTab:hover{
background:transparent;
background-image:url(images/sprite.png);
background-position:-201px -1485px;
cursor:pointer;
}

#commentsTab{
background:transparent;
background-image:url(images/sprite.png);
background-position:-98px -1645px;
position:relative;
}

#ballisticsTab{
}

#energyTab{
}

#missileTab{
}

#utilitiesTab{
}

#engineTab{
}

#upgradesTab{
}

#modulesTab{
}

#statsTab{
}

#weaponGroupTab{
}

#pilotSkillsTab{
}

#detailContainerWrap{
position:absolute;
z-index:2;
float:right;
}

#detailContainer{
background-color:transparent;
background-image:url(images/sprite.png);
background-repeat: no-repeat;
background-position:-950px -50px;
width:320px;
height:780px;
position:relative;
}

#itemList {
padding:10px;
}

#ballistics{
}

#energy{
}

#missiles{
}

#utilities{
}

#engines{
}

#upgrades{
}

#modules{
}

#stats{
}

#weaponGroups{
}

#pilotSkills{
}

.item {
    display:block;
    padding-left:10px;
    font-size:12px;
    z-index:99;
    position:relative;
    background: none repeat scroll 0 0 #ABACB0;
    border: 1px solid #303C48;
    margin-bottom: 3px;
    width: 113px;
	cursor:pointer;
}

div.energy {
    background-image: url("images/bgEnergy.png") !important;
    background-repeat: no-repeat !important;
    position: relative;
	padding-left:6px;
}
div.missile {
    background-image: url("images/bgMissile.png") !important;
    background-repeat: no-repeat !important;
    position: relative;
	padding-left:6px;
}
div.ballistic {
    background-image: url("images/bgBallistic.png") !important;
    background-repeat: no-repeat !important;
    position: relative;
	padding-left:6px;
}

#tonnageWrap{
background:#718ba2;
float:left;
margin:5px 5px 0px 20px;
padding:3px 3px 3px 8px;
}

#tonnage{
background:#000;
height:30px;
width:475px;
}

#speedWrap{
background:#718ba2;
float:left;
margin:5px 5px 0px 5px;
padding:3px 4px 3px 2px;
}

#speed {
background:#000;
height:30px;
width:320px;
}

#commentsWrap{
background:#718ba2;
float:left;
margin:5px 5px 0px 6px;
padding:3px 4px 4px 8px;
}

#comments{
}




/*
Weight Chart CSS (SVG)
*/

.bullet {
    font: 10px 'Aldrich', sans-serif;
    fill: #999999;
    stroke: #999999;
}
.bullet .marker {
    stroke: #000000;
    stroke-width: 2px;
}
.bullet .tick line {
    stroke: #666666;
    stroke-width: 0.5px;
}

/* background of graph */
.bullet .range.s0 {
    fill: #C2C3C5;
}
/* background of chassis weight marker */
.bullet .range.s1 {
    fill: #ABACB0;
}
/* background of actual weight bar */
.bullet .measure.s0 {
    fill: #718BA2;
    stroke: #303C48;
}
.bullet .title {
    font-size: 14px;
    font-weight: normal;
    fill: #ffffff;
    stroke: #ffffff;
}
.bullet .subtitle {
    fill: #999999;
    stroke: #999999;
}

/*
Rose Chart CSS (SVG)
*/

#roseChart {
    height: 220px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 220px;
}

.labels {
    font: 12px 'Aldrich', sans-serif;
    fill: #ccc;
    transform: rotate(45deg);
    stroke: #ccc;
}
.values {
    font: 12px 'Aldrich', sans-serif;
    fill: #fff;
    stroke: #fff;
}

.caption {
    font: 14px 'Aldrich', sans-serif;
    fill: #fff;
    stroke: #fff;
}
