body{
background:#000;
}

.clear{
clear:both;
}

#pageWrap{
 width:1280px;
 margin:10px auto;
 padding:0px 20px;
}

#chasisBar{
background:#3b3b3b;
padding:5px;
width:800px;
margin:0px 10px 0px 0px;
}

#userInfo{
background:#3b3b3b;
padding:5px;
width:400px;
margin:0px 0px 0px 10px;
}

#mechBay{
background:#3b3b3b;
width:800px;
margin:20px 10px 20px 0px;
}

#mechWrap{
background:#333333;
}

#head{
background:#333333;
}

#rightArm{
background:#333333;
}

#rightTorso{
background:#333333;
}

#centerTorso{
background:#333333;
}

#leftTorso{
background:#333333;
}

#leftArm{
background:#333333;
}

#rightLeg{
background:#333333;
}

#leftLeg{
background:#333333;
}

#componentWrap{
}

#focusLine{
}

#componentDetail{
background:#3b3b3b;
}

#itemWrap{
}

#tabWrap{
}

#ballisticsTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#energyTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#missileTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#utilitiesTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#engineTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#upgradesTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#modulesTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#statsTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#weaponGroupTab{
background:#3b3b3b;
width:120px;
height:40px;
}

#detailWrap{
background:#3b3b3b;
}

#ballistics{
background:#3b3b3b;
}

#energy{
background:#3b3b3b;
}

#missiles{
background:#3b3b3b;
}

#utilities{
background:#3b3b3b;
}

#engines{
background:#3b3b3b;
}

#upgrades{
background:#3b3b3b;
}

#modules{
background:#3b3b3b;
}

#stats{
background:#3b3b3b;
}

#weaponGroups{
background:#3b3b3b;
}

#tonnage{
background:#3b3b3b;
}

#speed {
background:#3b3b3b;
}

#comments {
background:#3b3b3b;
}

